#playerInfoTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 30;
}

#playerResourcesTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20;
    margin-left: -10;
}

#currentOreTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20;
    margin-left: -10;
}

#oreWrapper {
    width: 100%;
}

.playerInfo, .oreSelection {
    float: left;
    width: 50%;
}

#bronzeOre {
    width: 150;
    height: 150;
}

#ironOre {
    width: 150;
    height: 150;
}

#mithrilOre {
    width: 150;
    height: 150;
}

#adamantOre {
    width: 150;
    height: 150;
}

#runeOre {
    width: 150;
    height: 150;
}


#shopTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20;
}


#pickaxeShop {
    flex: 1;
}

#upgradeShop {
    flex: 1;
}

#pickaxeShopTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 15;
    margin-top: 10;
    display: grid;
}

#upgradeShopTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 15;
    margin-top: 10;
    display: grid;
}

#levelExp {
    margin-left: 10
}

#enchantmentStuffDetailed {
    display: grid;
}

#playerEnchantmentsTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20;
}

#enchant {
    width: 200;
}

#playerEnchantments {
    display: grid;
}

.currentEnchantments {
    display: grid;
    margin-top: 10;
    margin-bottom: 10;
}

.levelInfo {
    display: grid;
    margin-bottom: 10;
}

.container {
    display: flex;
}

#playerLevel {
    margin-left: 10;
    font-weight: bold;
}

#levelTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20;
}

.oreSelection {
    margin-bottom: 10;
    display: inline-block
}

.shop {
    display: flex;
    width: 50%;
}

#pickaxeInfoTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20;
}

.playerResources {
    display: grid;
    margin-bottom: 10;
    margin-left: 10;
}
#pickaxeName {
    margin-left: 10;
}

.playerInfo {
    margin-bottom: 10;
}

.pickaxeUpgradeButton {
    width: 90%;
}

.pickaxeInfo {
    display: grid;
    margin-bottom: 10;
}

.pickaxeAttributes {
    display: grid;
    margin-left: 10;
}

.log {
    display: grid;
    margin-bottom: 10;
    margin-left: 10;
}

#logTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20;
    margin-left: -10;
}

.currentOreInfo {
    display: grid;
    margin-bottom: 10;
    margin-left: 10;
}

#currentOreName {
    font-weight: bold;
}