#playerInfoTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 30;
}

#playerResourcesTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20;
    margin-left: -10;
}

#currentOreTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20;
    margin-left: -10;
}

#shopTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20;
}

#bronzePickaxeUpgradeButton {
    width: 200;
}

#ironPickaxeUpgradeButton {
    width: 200;
}

#levelExp {
    margin-left: 10
}

.levelInfo {
    display: grid;
    margin-bottom: 10;
}

.container {
    display: flex;
}

.container .playerInfo,
.container .shop {
    flex: 1;
}

#playerLevel {
    margin-left: 10;
    font-weight: bold;
}

#levelTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20;
}

.oreSelection {
    margin-bottom: 10;
}

.shop {
    display: grid;
}

#pickaxeInfoTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20;
}

.playerResources {
    display: grid;
    margin-bottom: 10;
    margin-left: 10;
}
#pickaxeName {
    margin-left: 10;
}

.playerInfo {
    margin-bottom: 10;
}

.pickaxeInfo {
    display: grid;
}

.pickaxeAttributes {
    display: grid;
    margin-left: 10;
}

.log {
    display: grid;
    margin-bottom: 10;
    margin-left: 10;
}

#logTitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20;
    margin-left: -10;
}

.currentOreInfo {
    display: grid;
    margin-bottom: 10;
    margin-left: 10;
}

#currentOreName {
    font-weight: bold;
}